<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zdr.sun.dao.Kr36.Kr36Mapper">

	<select id="getnewsCount" resultType="int">
		select count(1) from
		24thnews
	</select>


	<insert id="insert" parameterType="news24th">
		insert into
		24thnews(
		ID,title,
		neirong,url,
		time)
		values(
		#{ID},#{title},
		#{neirong},#{url},
		#{time})
	</insert>

	<select id="read" resultType="Integer">
		SELECT MAX(ID) FROM 24thnews
	</select>





</mapper>