<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zdr.sun.dao.LzuserMapper.LzuserMapper">

	<select id="userselect" resultType="Zuser">
		SELECT zuserid FROM zuser
		WHERE zusername = #{zusername}
		AND
		zpassword = #{zpassword};
	</select>

</mapper>
